<div class="back">
  <div id="imagen">
    <span class="logohome">
      <a href="/">
        <img src="/assets/image/logo.png" style alt=" LOGO">
      </a>
    </span>
  </div>

  <div class="descripcion">
    <div class="flex-container-text">
      <span class="titulo item-textTitulo1">
        Star wars
      </span>
      <span class="titulo item-textTitulo1 titulo-verde">
        Character
      </span>
    </div>
    <div>
      <span class="subtitulo flex-container-sub">
        <p>Star Wars es una franquicia compuesta primordialmente de</p>
        <p>una serie de péliculas concebidas por el cineasta</p>
        <p>estadounidense George Lucas</p>
      </span>
      <button class="buttonMas">SABER MÁS</button>
    </div>


  </div>