<div>
        <div class="flexcontainerCenter">
                <span class="dotBlue"></span>
                <span class="dotRed"></span>
                <span class="dotGreen"></span>
                <span class="dotYellow"></span>
        </div>

        <div class="flexcontainer">
                        <div class="item">hola</div>
                        <div class="item">hola</div>
                        <div class="item">hola</div>
                        <div class="item">hola</div>
        </div>

        <div class="flexcontainerCenter">
                <span class="dotBlue"></span>
                <span class="dotRed"></span>
                <span class="dotGreen"></span>
                <span class="dotYellow"></span>
        </div>
</div>